#progress1 {
    float: left;
    display: inline-block;
    margin: auto;
}

#progress2 {
    display: inline-block;
    margin: auto;
}

#progress3 {
    display: inline-block;
    margin-left: -4px;    
}


.progress-chunk {
    background-color: white;
    width: 100px;
    height: 10px;
    display: block;
    position:relative;
}